@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif; }

li {
  list-style: none; }

.main-padding {
  padding-left: 215px;
  padding-right: 185px; }

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  header .top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "logos" "icon-1" "icon-2" "icon-3";
    align-items: center;
    min-height: 92px;
    border-bottom: 2px solid rgba(194, 194, 194, 0.31);
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 30px;
    grid-gap: 40px; }
    @media only screen and (max-width: 479px) {
      header .top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "logos";
        border-bottom: none;
        padding-bottom: 0; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      header .top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "logos" "icon-1" "icon-2" "icon-3";
        padding-left: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      header .top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "logos logos" "icon-1 icon-2" "icon-3 .";
        padding-left: 50px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      header .top {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "logos logos logos" "icon-1 icon-2 icon-3";
        padding-left: 118px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      header .top {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logos icon-1 icon-2 icon-3";
        padding-left: 118px; } }
    @media only screen and (min-width: 1441px) {
      header .top {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logos icon-1 icon-2 icon-3";
        padding-left: 118px; } }
    header .top .logos {
      grid-area: logos; }
    header .top .icon-1 {
      grid-area: icon-1; }
    header .top .icon-2 {
      grid-area: icon-2; }
    header .top .icon-3 {
      grid-area: icon-3; }
    header .top .logo {
      display: block;
      height: 42px;
      background: url("../images/Logo.png") no-repeat;
      width: 220px;
      margin-bottom: 20px;
      margin-top: 20px;
      background-position-x: 50%; }
    header .top .logo:hover {
      transform: rotate(1deg); }
    @media only screen and (max-width: 479px) {
      header .top .icons {
        display: none; } }
    header .top li {
      display: flex; }
      header .top li .icon {
        background-color: #1a9bdc;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        float: left;
        margin-right: 19px;
        font-size: 29px;
        color: white;
        text-align: center;
        line-height: 51px; }
      header .top li strong {
        display: block;
        color: #6a6a6a;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px; }
      header .top li p {
        color: #6a6a6a;
        font-size: 15px;
        font-weight: 400;
        margin: 5px 0 0 0; }
  header nav {
    min-height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1441px) {
      header nav {
        width: 40%;
        justify-content: left; } }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      header nav {
        width: 60%;
        justify-content: left; } }
    header nav ul {
      display: flex;
      flex-wrap: wrap; }
      header nav ul li {
        padding: 0 13px;
        height: 90px; }
        header nav ul li a {
          text-decoration: none;
          color: #6c6c6c;
          font-size: 20px;
          font-weight: 400;
          text-align: center;
          line-height: 94px; }
      header nav ul li:hover a {
        font-weight: 700;
        color: #262626; }
  header .social-links {
    display: none; }
    @media only screen and (min-width: 1441px) {
      header .social-links {
        display: block; } }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      header .social-links {
        display: block; } }
    header .social-links ul {
      display: flex;
      align-items: center;
      height: 100%; }
      header .social-links ul li {
        margin: 0 10px; }
        header .social-links ul li a {
          font-size: 30px;
          color: #6c6c6c; }
        header .social-links ul li a:hover {
          color: #262626; }

.welcome {
  background: url("../images/main-background.jpg") no-repeat;
  padding-top: 180px;
  padding-bottom: 182px;
  background-size: cover;
  background-position-x: 100%; }
  .welcome h2 {
    color: #474747;
    font-size: 47.69px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 37px; }
  .welcome p {
    color: #3f3f3f;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 42px; }
  .welcome .wrapper {
    display: flex;
    justify-content: center; }
    .welcome .wrapper button {
      background-color: #1a9bdc;
      box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
      width: 166px;
      height: 47px;
      border-radius: 23.5px;
      outline: none;
      color: #ffffff;
      font-size: 18.25px;
      font-weight: 700;
      text-transform: uppercase; }

.advantages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 479px) {
    .advantages {
      grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .advantages {
      grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .advantages {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 1441px) {
    .advantages {
      grid-template-columns: repeat(4, 1fr); } }
  .advantages .treatment {
    background: #43b1d2; }
    .advantages .treatment .icon {
      background: #fff url("../images/Treatment.png") no-repeat 50%; }
  .advantages .help {
    background-color: #3fb6c6; }
    .advantages .help .icon {
      background: #fff url("../images/Emergency.png") no-repeat 50%; }
  .advantages .staff {
    background-color: #3cbbbb; }
    .advantages .staff .icon {
      background: #fff url("../images/Madical.png") no-repeat 50%; }
  .advantages .doctors {
    background-color: #37c3a8; }
    .advantages .doctors .icon {
      background: #fff url("../images/Qualified.png") no-repeat 50%; }
  .advantages article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 57px; }
    .advantages article .icon {
      border-radius: 50%;
      background-color: #ffffff;
      width: 75px;
      height: 75px;
      margin-bottom: 23px; }
    .advantages article h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 29px; }
    .advantages article p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }

.why-choose-us {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  background: url("../images/doctor.png") no-repeat 50% bottom;
  padding-left: 100px;
  padding-right: 100px; }
  @media only screen and (max-width: 479px) {
    .why-choose-us {
      padding-left: 30px;
      padding-right: 30px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .why-choose-us {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 215px;
      padding-right: 185px; } }
  @media only screen and (min-width: 1441px) {
    .why-choose-us {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 215px;
      padding-right: 185px; } }
  .why-choose-us .description {
    padding: 50px 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      .why-choose-us .description {
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 111px 147px 116px 147px; } }
    @media only screen and (min-width: 1441px) {
      .why-choose-us .description {
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 111px 147px 116px 147px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .why-choose-us .prof-1,
    .why-choose-us .prof-3 {
      grid-column-start: 1;
      grid-column-end: 2; } }
  @media only screen and (min-width: 1441px) {
    .why-choose-us .prof-1,
    .why-choose-us .prof-3 {
      grid-column-start: 1;
      grid-column-end: 2; } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .why-choose-us .prof-2,
    .why-choose-us .prof-4 {
      grid-column-start: 3;
      grid-column-end: 4; } }
  @media only screen and (min-width: 1441px) {
    .why-choose-us .prof-2,
    .why-choose-us .prof-4 {
      grid-column-start: 3;
      grid-column-end: 4; } }
  .why-choose-us .prof-1 .icon {
    background: #1a9bdc url("../images/professinal-icon-1.png") no-repeat 50%; }
  .why-choose-us .prof-2 .icon {
    background: #1a9bdc url("../images/professinal-icon-2.png") no-repeat 50%; }
  .why-choose-us .prof-3 .icon {
    background: #1a9bdc url("../images/professinal-icon-3.png") no-repeat 50%; }
  .why-choose-us .prof-4 .icon {
    background: #1a9bdc url("../images/professinal-icon-4.png") no-repeat 50%; }
  .why-choose-us h2 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    text-align: center; }
  .why-choose-us p {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center; }
  .why-choose-us .professional {
    margin-bottom: 30px; }
    .why-choose-us .professional .icon {
      border-radius: 50%;
      width: 75px;
      height: 75px;
      float: left;
      margin-right: 19px; }
    .why-choose-us .professional h3 {
      color: #6f6f6e;
      font-size: 30px;
      font-weight: 700;
      text-align: left;
      margin-top: 27px;
      margin-bottom: 26px; }
    .why-choose-us .professional p {
      color: #6a6a6a;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left; }

.benefits {
  background: url("../images/layer _9.jpg") #0084bd;
  background-blend-mode: luminosity;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 479px) {
    .benefits {
      grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .benefits {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 1441px) {
    .benefits {
      grid-template-columns: repeat(4, 1fr); } }
  .benefits article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0; }
    .benefits article .icon {
      width: 91px;
      height: 80px;
      margin-bottom: 47px; }
    .benefits article h3 {
      color: #ffffff;
      font-size: 60px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 26px; }
    .benefits article .line {
      background-color: #ffffff;
      width: 84px;
      height: 6px;
      margin-bottom: 27px; }
    .benefits article p {
      width: 160px;
      color: #ffffff;
      font-size: 25px;
      font-weight: 500;
      text-align: center; }
    .benefits article .happy {
      background: url("../images/happy-icon.png") no-repeat 50%; }
    .benefits article .heart {
      background: url("../images/heart-icon.png") no-repeat 50%; }
    .benefits article .helicopter {
      background: url("../images/helicopter-icon.png") no-repeat 50%; }
    .benefits article .lungs {
      background: url("../images/lungs-icon.png") no-repeat 50%; }

.how_we_works {
  padding: 100px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "we_work our_creative" "article_1 treatment" "article_2 ." "read-more ."; }
  @media only screen and (max-width: 479px) {
    .how_we_works {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "we_work" "article_1" "article_2" "read-more" "our_creative" "treatment";
      padding-left: 30px;
      padding-right: 30px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .how_we_works {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "we_work" "article_1" "article_2" "read-more" "our_creative" "treatment"; } }
  @media only screen and (max-width: 479px) {
    .how_we_works {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "we_work" "article_1" "article_2" "read-more" "our_creative" "treatment"; } }
  @media only screen and (min-width: 1441px) {
    .how_we_works {
      padding-left: 215px;
      padding-right: 185px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "we_work we_work our_creative" "article_1 article_2 treatment" "read-more read-more ."; } }
  .how_we_works .we_work h3,
  .how_we_works .our_creative h3 {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    text-align: left; }
  .how_we_works .we_work p,
  .how_we_works .our_creative p {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left; }
  .how_we_works .article .image {
    height: 210px;
    margin-bottom: 35px; }
  .how_we_works .article h4 {
    color: #6f6f6e;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 13px; }
  .how_we_works .article .date {
    color: #0087be;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 27px; }
  .how_we_works .article p {
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left; }
  .how_we_works .article_1 .image {
    background: url("../images/gallery-6.jpg") no-repeat; }
  .how_we_works .article_2 .image {
    background: url("../images/gallery-7.jpg") no-repeat; }
  .how_we_works .we_work {
    grid-area: we_work; }
  .how_we_works .our_creative {
    grid-area: our_creative; }
  .how_we_works .article_1 {
    grid-area: article_1; }
  .how_we_works .article_2 {
    grid-area: article_2; }
  .how_we_works .treatment {
    grid-area: treatment; }
    .how_we_works .treatment button {
      width: 100%;
      background: url("../images/list-style.png") no-repeat 22px 50%, url("../images/ellipse_2.png") no-repeat 7px 50% #e2e2e2;
      height: 54px;
      border-radius: 27px;
      color: #494949;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      line-height: 54px;
      text-decoration: none;
      margin-bottom: 12px;
      padding-left: 66px;
      outline: none; }
    .how_we_works .treatment button.active {
      background-color: #0087be;
      color: #ffffff;
      margin-bottom: 19px; }
    .how_we_works .treatment .list-content {
      display: none;
      margin-bottom: 40px;
      color: #6a6a6a;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left; }
    .how_we_works .treatment div.active {
      display: block; }
  .how_we_works .read-more {
    grid-area: read-more;
    display: flex;
    justify-content: center; }
    .how_we_works .read-more button {
      background-color: #0087be;
      box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
      width: 154px;
      height: 44px;
      border-radius: 22px;
      outline: none;
      color: #ffffff;
      font-size: 16.87px;
      font-weight: 700;
      text-align: center;
      line-height: 44px;
      text-transform: uppercase; }

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 51px;
  justify-items: center;
  background: url("../images/layer_3.png") no-repeat #2eb39b;
  background-blend-mode: luminosity;
  padding-top: 94px;
  padding-bottom: 94px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (min-width: 1441px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); } }
  .gallery .description {
    grid-column-start: 1;
    grid-column-end: 2; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .gallery .description {
        grid-column-start: 1;
        grid-column-end: 3; } }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      .gallery .description {
        grid-column-start: 1;
        grid-column-end: 4; } }
    @media only screen and (min-width: 1441px) {
      .gallery .description {
        grid-column-start: 1;
        grid-column-end: 4; } }
    .gallery .description h2 {
      color: #ffffff;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      padding-bottom: 38px; }
    .gallery .description p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }
  .gallery .image {
    display: block;
    width: 90%;
    height: 209px; }
  .gallery .picture_1 {
    background: url("../images/gallery-1.jpg") no-repeat 50%; }
  .gallery .picture_2 {
    background: url("../images/gallery-2.jpg") no-repeat 50%; }
  .gallery .picture_3 {
    background: url("../images/gallery-3.jpg") no-repeat 50%; }
  .gallery .picture_4 {
    background: url("../images/gallery-4.jpg") no-repeat 50%; }
  .gallery .picture_5 {
    background: url("../images/gallery-5.jpg") no-repeat 50%; }
  .gallery .picture_6 {
    background: url("../images/gallery-6.jpg") no-repeat 50%; }

.our-team {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 94px;
  padding-bottom: 134px;
  grid-row-gap: 84px;
  justify-items: center; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .our-team {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .our-team {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .our-team {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 1441px) {
    .our-team {
      grid-template-columns: repeat(4, 1fr); } }
  .our-team .description {
    color: #494949;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3; }
    @media only screen and (max-width: 479px) {
      .our-team .description {
        grid-column-start: 1;
        grid-column-end: 2; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .our-team .description {
        grid-column-start: 1;
        grid-column-end: 2; } }
    @media only screen and (min-width: 1200px) and (max-width: 1440px) {
      .our-team .description {
        grid-column-start: 1;
        grid-column-end: 5; } }
    @media only screen and (min-width: 1441px) {
      .our-team .description {
        grid-column-start: 1;
        grid-column-end: 5; } }
    .our-team .description h2 {
      color: #494949;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 49px; }
    .our-team .description p {
      color: #6a6a6a;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }
  .our-team .team-member .image {
    display: block;
    width: 279px;
    height: 279px;
    margin-bottom: 29px; }
  .our-team .team-member .doctor_1 {
    background: url("../images/doctor-1.png") no-repeat; }
  .our-team .team-member .doctor_2 {
    background: url("../images/doctor-2.png") no-repeat; }
  .our-team .team-member .doctor_3 {
    background: url("../images/doctor-3.png") no-repeat; }
  .our-team .team-member .doctor_4 {
    background: url("../images/doctor-4.png") no-repeat; }
  .our-team .team-member h3 {
    color: #6f6f6e;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px; }
  .our-team .team-member p {
    color: #6f6f6e;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px; }
  .our-team .team-member .social {
    display: flex;
    justify-content: center; }
    .our-team .team-member .social li a {
      margin: 0 10px;
      color: #0087be;
      font-size: 24px;
      font-weight: 400; }

.consultation {
  background-color: #e2e2e2;
  height: 176px;
  display: none;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .consultation {
      display: flex; } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .consultation {
      display: flex; } }
  @media only screen and (min-width: 1441px) {
    .consultation {
      display: flex; } }
  .consultation h2 {
    color: #494949;
    font-size: 30px;
    font-weight: 700; }
  .consultation button {
    background-color: #0087be;
    box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
    width: 192px;
    height: 54px;
    border-radius: 27px;
    outline: none;
    text-transform: uppercase;
    line-height: 54px;
    color: #ffffff;
    font-size: 21.1px;
    font-weight: 700;
    text-align: center; }

footer {
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "contacts" "links" "services" "form";
  padding: 118px 30px 110px 30px;
  grid-gap: 50px;
  justify-items: left; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "contacts links" "services form";
      padding-left: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    footer {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "contacts links services" "form form form";
      padding-left: 50px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    footer {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "contacts links services" "form form form";
      padding: 118px 100px 110px 100px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    footer {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "contacts links services form";
      padding: 118px 100px 110px 100px; } }
  @media only screen and (min-width: 1441px) {
    footer {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "contacts links services form";
      padding: 118px 100px 110px 100px; } }
  footer h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px; }
  footer p,
  footer a {
    color: #6f6f6e;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none; }
  footer a:hover {
    color: white; }
  footer .contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column; }
    footer .contacts .message,
    footer .contacts .phone,
    footer .contacts .location {
      display: flex; }
      footer .contacts .message .fas,
      footer .contacts .phone .fas,
      footer .contacts .location .fas {
        font-size: 40px;
        color: #6f6f6e;
        margin-right: 43px;
        margin-bottom: 60px; }
      footer .contacts .message .fa-mobile-alt,
      footer .contacts .phone .fa-mobile-alt,
      footer .contacts .location .fa-mobile-alt {
        margin-right: 49px; }
      footer .contacts .message .fa-map-marked-alt,
      footer .contacts .phone .fa-map-marked-alt,
      footer .contacts .location .fa-map-marked-alt {
        margin-right: 30px; }
  footer .social-links {
    display: flex;
    justify-content: space-around; }
    footer .social-links a {
      text-decoration: none;
      color: #ffffff;
      font-size: 25.23px;
      font-weight: 400;
      text-align: center; }
    footer .social-links a:hover {
      color: #6f6f6e; }
  footer .links {
    grid-area: links; }
    footer .links li {
      margin-bottom: 25px;
      list-style: url("../images/list-style.png") inside; }
  footer .services {
    grid-area: services; }
    footer .services li {
      margin-bottom: 25px;
      list-style: url("../images/list-style.png") inside; }
  footer .form {
    grid-area: form; }
    footer .form input,
    footer .form textarea {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid #6f6f6e;
      background: none;
      color: #6f6f6e;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin-bottom: 25px; }
    footer .form input {
      height: 30px; }
    footer .form textarea {
      height: 90px; }
    footer .form button {
      background-color: #0087be;
      box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
      width: 125px;
      height: 36px;
      border-radius: 18px;
      color: #ffffff;
      font-size: 13.73px;
      font-weight: 700;
      text-align: center;
      line-height: 32px;
      text-transform: uppercase;
      outline: none; }

.copyright {
  background-color: #1a1a1a;
  height: 116px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .copyright p {
    color: #615555;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
