.b-readMoreButton {
  background-color:  #fff;
  box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.47);
  width: 192px;
  height: 54px;
  border-radius: 27px;
  text-align: center;
  color:  #242424;
  font-size: 21px;
  font-weight: 700;
  line-height: 45px;
  outline: 0 !important;
  border: none;
  transition-duration: .2s;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.05, 1.05);
  }
  &:active {
    transform: scale(0.95, 0.95);
  }

}