.b-slogan {
  width: 670px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  line-height: 0.8;
  text-transform: uppercase;
  background: url(../images/header_image.jpg) no-repeat;
  background-position-x: -286px;
  background-position-y: -232px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &_position {
    position: absolute;
    top: 230px;
    left: 285px;
  }

  &__smallText {
    font-size: 98px;
  }
}